body {
  color: #222;
  font-size: 17px;
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #222;
}
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "PingFang SC", "Microsoft YaHei", monospace;
}
pre {
  overflow-y: auto !important;
  box-shadow: 0em 0.1em 0.2em rgba(0,0,0,0.1);
  max-width: 600px;
}
.body-container {
  margin: 0 auto;
  max-width: 620px;
  display: flex;
  flex-direction: column;
}
.body-container > div:not(:last-child) {
  margin-bottom: 20px;
}
.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.header-menu-list {
  width: 100%;
  margin: 0 10px;
}
.header-menu-list ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.header-menu-list li:not(:last-child) {
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .header-menu-list ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .header-menu-list li:not(:last-child) {
    margin-right: 0px;
  }
}
.main-container {
  display: flex;
  justify-content: center;
}
.post-list {
  width: 100%;
  margin: 0 10px;
}
.post-item {
  width: 100%;
  text-align: left;
}
.post-item:not(:last-child) {
  margin-bottom: 10px;
}
.post-item-date {
  font-size: 0.9em;
  color: #555;
}
.footer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-meta {
  font-size: 11px;
  color: #999;
  width: 100%;
  margin: 0 10px;
  display: inline-flex;
}
.footer-meta a {
  color: #777;
}
.footer-meta a:hover {
  color: #555;
}
.footer-meta > div:not(:last-child) {
  margin-right: 5px;
}
.post-details {
  color: #000;
  font-size: 14px;
  width: 100%;
  margin: 0 10px;
  line-height: 22.4px;
}
.post-details a:not(.nonstyle) {
  text-decoration: none;
  color: #3a97ff;
  box-shadow: 0 1px 0 #555;
}
.post-details a:not(.nonstyle):hover {
  box-shadow: 0 1px 0 #3a97ff;
}
.post-details .post-title {
  margin-bottom: 10px;
}
.post-details .post-title h1 {
  color: #222;
  font-size: 1.7em;
  font-weight: 500;
  margin-block: 0;
}
.post-details .post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: #999;
}
.post-details .post-content h1,
.post-details .post-content h2,
.post-details .post-content h3,
.post-details .post-content h4,
.post-details .post-content h5,
.post-details .post-content h6 {
  margin-block: 0;
  margin-inline: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.post-details .post-content h1 {
  margin-top: 30px;
  font-size: 1.5em;
}
.post-details .post-content h2 {
  font-size: 1.3em;
}
.post-details .post-content h3 {
  font-size: 1.2em;
}
.post-details .post-content h4 {
  font-size: 1.1em;
}
.post-details .post-content h5 {
  font-size: 1em;
}
.post-details .post-content h6 {
  font-size: 0.9em;
}
.post-details .post-content p {
  text-align: justify;
  margin-block: 0;
}
.post-details .post-content p:not(:last-child) {
  margin: 0 0 10px;
}
.post-details .post-content img {
  max-width: 100%;
}
.post-details .post-content blockquote {
  margin-block: 0;
  margin-inline: 0;
  padding: 3px 10px;
  background-color: #eee;
  border-left: 7px solid #999;
}
.post-details .post-content blockquote>p {
  margin: 0 0;
}
.post-details .post-content kbd {
  padding: 1px 3px;
  background-color: #eee;
  box-shadow: 1px 2px #999;
  border-radius: 3px;
}
.post-details .post-content mark,
.post-details .post-content code:not(.hljs) {
  padding: 1px 3px;
  background-color: #eee;
  border-radius: 3px;
}
.post-details .post-content table {
  text-align: left;
  border-collapse: collapse;
}
.post-details .post-content th,
.post-details .post-content td {
  padding: 5px;
  border: 1px solid #eee;
}
.post-details .post-content tr:nth-child(even) {
  background-color: #eee;
}
.post-details .post-content th {
  font-weight: 400;
  background-color: #ddd;
}
.post-details .post-content table {
  margin: 1em 0;
  width: 100%;
}
.post-details .post-content ul {
  padding-inline-start: 20px;
}
.katex > .katex-html {
  white-space: normal;
}
.katex .base {
  margin-top: 5px;
  margin-bottom: 5px;
}
code.hljs::-webkit-scrollbar {
/* WebKit 去滚动条 */
  width: 0;
  height: 0;
}
code.hljs {
  display: block;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox 去滚动条 */
  padding: 1em;
}
/*
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #fbfdff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
/* prettylights-syntax-keyword */
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
/* prettylights-syntax-entity */
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
/* prettylights-syntax-constant */
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
/* prettylights-syntax-string */
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
/* prettylights-syntax-variable */
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
/* prettylights-syntax-comment */
  color: #6a737d;
}
.hljs-comment {
  font-style: italic;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
/* prettylights-syntax-entity-tag */
  color: #22863a;
}
.hljs-subst {
/* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}
.hljs-section {
/* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
/* prettylights-syntax-markup-list */
  color: #735c0f;
}
.hljs-emphasis {
/* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
/* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
/* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
/* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}
.utterances {
  margin-top: 20px;
}
